.dropdown-menu {
  position: absolute;
  z-index: 1000;
  margin: 10px;
  left: 30px;
  top: 70px;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
  height: 270px;
  margin: 20px;
}

.category.item {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  color: black;
  justify-content: space-between;
  margin-right: 10px;
  margin-bottom: 10px;
}

.item i{
  color: gray;
}

.item {
  display: flex;
  font-weight: 400;
  color: gray;
  cursor: pointer;
  justify-content: space-between;
}